# Force correct MIME type for JS modules (LiteSpeed/Apache fix)
<FilesMatch "\.(js|mjs)$">
    ForceType application/javascript
</FilesMatch>

# Global fallback
AddType application/javascript .js
AddType application/javascript .mjs

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]
</IfModule>
